[2016-09-23 13:16] bogem opened #1 "Get only header"
Hi! How about a flag, that will show only header of response like `curl --head`.

[2016-09-23 13:18] davecheney commented on #1
Sure. If you want to send a PR you should probably implement proper flag
parsing, which is currently skipped.

On Fri, Sep 23, 2016 at 11:16 PM, Albert <notifications@github.com> wrote:

[2016-09-23 13:21] bogem commented on #1
Ok. Will be done!

[2016-09-23 14:52] n10v opened #5 "Grayscale looks not so legibly on white backgrounded ttys"
I have white background in my terminal and text with grayscale looks not so good on it:
![2016-09-23 16 48 31](https://cloud.githubusercontent.com/assets/13235519/18790130/e7281104-81ad-11e6-82ad-8ed5574135e4.png)
Instead of that, I offer to use usual black text.
And technically `httpstat` will be more simplier :)

[2016-09-23 14:58] bogem commented on #5
Some variants:
![2016-09-23 16 57 40](https://cloud.githubusercontent.com/assets/13235519/18790397/eba99ea4-81ae-11e6-9c56-2a9856d51448.png)
![2016-09-23 16 57 48](https://cloud.githubusercontent.com/assets/13235519/18790403/efcecc98-81ae-11e6-8630-35252e579b74.png)

[2016-09-23 15:05] mholt opened #6 "Too many colons"
First, this is awesome, thanks for making a Go version of this!

But it doesn't like when I need to specify a port:

[code]

(Believe me, I wish this was just on port 80 like every other website. But I'm having connectivity issues to it which is why I thought I'd try httpstat, ha.)

[2016-09-23 15:21] ericmdantas commented on #6
The port (`:80` in http case) is being appended no matter what, see: https://github.com/davecheney/httpstat/blob/master/main.go#L86-L100.

[2016-09-23 15:23] mholt commented on #6
Yep, you're right. I'd submit a PR right now if I wasn't on my way to class...

[2016-09-23 16:01] bogem commented on #6
I think, https://github.com/davecheney/httpstat/pull/7 fixes it too

[2016-09-23 16:21] ericmdantas commented on #6
Thanks, I closed mine.

[2016-09-23 21:39] davecheney commented on #6
Sorry about that, the logic to split the host and port is very dumb. It needs to be made better.

wrt #7 i'm on the fence about using the httptrace package, see my comments in that PR for details.

If someone wants to have a crack at a better host:port split function, please do so.

[2016-09-23 21:41] davecheney commented on #5
Good poinr.

I'm color blind so I don't really care about colors and just followed the logic that httpstat.py used. I'm find with someone else taking the lead on a better color scheme. See my comments in your PR, basically please vendor fatih's color package and wait for amy to merge her PR first.

[2016-09-23 22:21] #1 closed

[2016-09-23 23:01] mholt commented on #6
I have a fix inbound

[2016-09-23 23:05] mholt commented on #6
That's strange, why does it show c4f8adb09210466d67a495aebdd5b36d69485e23 in your commit tree?

[2016-09-23 23:07] davecheney commented on #6
No idea.

On Sat, Sep 24, 2016 at 9:05 AM, Matt Holt <notifications@github.com> wrote:

[2016-09-23 23:46] #6 closed

[2016-09-24 00:22] mibk opened #17 "Use Github's new Projects feature"
Feel free to close this issue right away. I was just thinking whether the Projects feature wouldn't be more suitable for keeping track of the TODO list (more than the README). I don't have experience with it though.

[2016-09-24 00:23] davecheney commented on #17
Neither do I. If someone wants to do that, it would be cool.

[2016-09-24 00:52] davecheney opened #18 "Sort headers intelligently"
From #16

I thought about this previously and have two suggestions.

1. http headers are not sorted, they probably get unsorted more in this version compared to the python version because of the way maps work in Go vs whatever curl is doing.
2. if we are going to sort headers, it shouldn't just be plain alpha sort, it should
  - a. put `Host:` first
  - b. sort headers first into their categories,

[2016-09-24 00:53] davecheney commented on #18
Note to implementors, ignore point 2a, this is the response, Host is not part of the response headers. This was my mistake.

[2016-09-24 03:06] davecheney opened #23 "Implement curl's -L flag"
`curl -L` follows redirects.

Implementing this in httpstat should follow 30x redirects _and_ print the timing output for each step in the redirection chain.

This will probably require refactoring the body of `main.main` into functions.

Note: for implementors, please discuss your design here before slinging code.

[2016-09-24 03:09] davecheney commented on #17
I had a quick look at projects. I think it's overkill, README, issues and PR's will do fine for this simple project.

[2016-09-24 03:09] #17 closed

[2016-09-24 03:56] davecheney opened #26 "Handle urls without a scheme"
`httpstat http://dave.cheney.net/about` works

`httpstat dave.cheney.net/about` does not.
[code]

To make `httpstat` easier to use, if no scheme is provided, stick a `https://` on the front. Yes, `https://`, if people want to be insecure, they can be explicit.

[2016-09-24 05:03] #23 closed

[2016-09-24 11:11] #18 closed

[2016-09-24 11:33] bogem opened #30 "Move headers type to separate files"
I think, one should move all `headers` type logic to separate file for convenience.

[2016-09-24 15:09] bogem commented on #5
So what do you think about a change grey text to a simple black text or bold text?
Because grey words look really not so sharp on white background and my screen

[2016-09-24 20:10] abh opened #36 "(Option to) show which IP is being connected to"
My applications often have numerous IPs (CDNs, etc), so showing which IP is being connected to is helpful.

(Along the same lines, an option to connect to a particular IP could also be helpful; along the lines of the -x or --resolv options from curl).

[2016-09-24 23:31] davecheney commented on #36
Sounds good to me. For the first request something like

Connected to {{ .raddr.String() }}

Should do at the end of the conn.Dial phase (t2 or t3, i don't remember
offhand). Please make the words "Connected to " green, and the output of
raddr.String() cyan.

For the second, if you want to implement `-x`, go for it.

On Sun, Sep 25, 2016 at 6:10 AM, Ask Bjørn Hansen <notifications@github.com>
wrot

[2016-09-24 23:51] davecheney opened #38 "Fix vet issues"
There are a bunch of small issues that vet and lint will pick up on related to printing and formatting. It would be good to have those fixed.

_extra credit_: add a go tool vet pass to .travis.yml so we don't have to reopen this issue once the current formatting errors are fixed.

_note to implementors_: I'm not interested in PR's renaming variables to whatever vet thinks is a standard, that is be

[2016-09-24 23:52] davecheney commented on #30
No thank you, I'm find with all the logic being in one file. Once we move to two files, the temptation will be to parcel every function into their own file and I do not want that.

We can revisit this issue once/if main.go passes say 2000 lines.

[2016-09-24 23:52] #30 closed

[2016-09-25 01:32] andres-erbsen opened #39 "Use TLS server name indication"
https://github.com/davecheney/httpstat/blob/master/main.go#L134 should set `ServerName` in `tls.Config`.

This would make it possible to use this tool with hosting situations where multiple sites share the same IP and there is no fallback.

[2016-09-25 01:35] davecheney opened #40 "Https should default to secure"
Currently the https client chooses to allow invalid certs (I think). If this is the case, then this should be reversed and a flag added to enable this insecure behaviour.

Note to implementors: at the moment we're using to go flag library so I would prefer this flag to be a single character and that character be the same as one traditionally used by another tool like curl or wget.

[2016-09-25 01:36] davecheney commented on #39
Yes, this is an important improvement. I think this behaviour should be on by default, see #40 for a suggestion for a flag to disable it.

[2016-09-25 02:32] davecheney opened #41 "Support curl's -H name=value header field"
Needs to support multiple `-H name=value` fields.

[2016-09-25 02:33] davecheney commented on #41
@freeformz  and @tcnksm are working on this one, see #34

[2016-09-25 03:04] davecheney commented on #5
I liked the original colour scheme from httpstat.py but I recognise that I usually use a black background and do not have a normal colour vision.

What I would like to see is you prepare a PR and include screenshots of your updated color scheme against various background (white and black appear to be the most common). I'll let other commenters choose.

To be very transparent, colours are subjectiv

[2016-09-25 03:18] #40 closed

[2016-09-25 04:23] #38 closed

[2016-09-25 04:50] davecheney opened #45 "Increase separation of concerns in colour formatting code"
Currently the formatting of coloured output is handled before passing the string to `fmt.Printf`. As an exercise I would like to see if it is possible to make the type of the argument passed to `fmt.Printf` implement `fmt.Formatter` and handle the colorisation of the output at the point at which it is printed.

_note to implementors_: this has no impact on the performance or memory usage of this p

[2016-09-25 05:14] davecheney commented on #45
/cc @ChrisHines you might enjoy this challenge. I think we might end up having to create a separate type for each color (there are a limited number in use, so this isn't so gross) so that we can still have something that _is a_ string, but also has a Format method. Something like
[code]
I'd love to be able to do this with a function, but I don't know how just yet. Something like
[code]
Which sound

[2016-09-25 05:17] lucindo opened #46 "Support for @filename in -d parameter"
Hi,

`curl(1)` let you post data from files using `-d @filename`. I use it all the time missed this feature when working with `httpstat`.

If you think this is a relevant addition I can make a pull request.

The changes I made for this to work are here: https://github.com/lucindo/httpstat/commit/87c4d32f548248dcbe11d3501b4ed706656474fe

[2016-09-25 05:21] davecheney commented on #46
Sounds good to me, please be aware of the other PR's in flight such as #35 and #20.

[2016-09-25 05:59] ChrisHines commented on #45
[code]
What part of the output from the above code should be green? It seems like the intent is that only "hello" would be green, but `greenGreeting` has type `Green`, so the whole message would get formatted by `Green.Format` which would not be able to tell what portion should be green.

Also, the following wouldn't work, and this inconvenience seems to dilute the value of the approach somewhat.

[2016-09-25 06:15] davecheney commented on #45
I'm sorry, what I wrote previosly kind of got me high on my own supply. What we have now is something like this (simplified to remove the unimportant parts)
[code]
Which is all fine and good, but what is happening is `fmt.Printf` is called with something like this
[code]
Which to my mind has mixed the data and the presentation up. What I'd like to see is something equivalent to
[code]
And if possi

[2016-09-25 07:04] bogem commented on #30
It's very inconvenient to hold all logic in one file. Contributors have to solve merge conflicts after merged PRs and it's really annoying. If there would several files, the count of conflicts will be reduced.

[2016-09-25 07:08] davecheney commented on #30
In general I agree with you, but in this case this is a small project that will be pretty much done by next week.

I'm sorry for the merge conflicts, I don't believe they will be sufficiently alleviated by splitting the project across many files to warrant the reduction in readability.

The cause of the merge conflicts occurs when changes to the `main.main` method are made. I believe this can be s

[2016-09-25 07:12] bogem commented on #30
Yes, the functions could stay in one file, but obviously types could be in separate files. E.g. `type headers []string` and all methods of this type could be in file `header.go`

[2016-09-25 07:13] davecheney commented on #30
As I said above, when main.go grows to 2,000 lines we can have this discussion. Until then I feel confident that the single file nature of this project has made it readable and approachable to contributors.

[2016-09-25 07:16] bogem commented on #30
Ok

[2016-09-25 07:23] jrozner opened #48 "Support for -o and -O flags"
Add support for cURLs -o and -O flags which allow saving the body into a user specified file and the URI specified file respectively. This may interact with #20 and #35.

[2016-09-25 07:24] davecheney commented on #48
SGTM. But please wait for or help with #20 and #35 as they will give you almost all of the mechanism for this feature.

[2016-09-25 07:39] jrozner opened #49 "Limit the number of 30x follows"
Introduce the -max-directs flag from curl to limit the maximum number for 30x redirects to follow and set a sane default. cURL sets this to 50.

[2016-09-25 08:12] davecheney commented on #49
Does this need to be configurable? Can't we just make an arbitrary decision, say 10 and leave it at that?

I don't want to end up rewriting all of curl.

[2016-09-25 09:05] jrozner commented on #49
Sure, but the only only additional change to support arbitrary numbers would be adding a flag to change the default number. Also, with the proposes features (not counting all the non HTTP(S) features of cURL that nobody uses) it's not going to be that far off from a functional re-implementation of cURL anyway

[2016-09-25 09:08] mibk commented on #46
If implemented, shouldn't there be a way to avoid the special interpretation of `@` character. If I look at curl(1), there's a few alternatives to `-d`:

* `--data-binary`
* `--data-raw`
* `--data-urlencode`

Where `--data-raw` is the one to avoid that. Also being able to urlencode parameters before posting could be useful as well.

According to the manual, using `-d` also sets *Content-Type* to `

[2016-09-25 09:24] davecheney commented on #46
Urgh. I'm starting to change my mind here, I don't want all those flags, the combinational explosion of their interactions means having to write a functional test harness, rather that the nice simple "did it work or did it fail" tests we have now.

`-d @filename` is the limit, no more. Thank you.

If you need more than that you'll have to explain why you cannot just use curl instead.

[2016-09-25 09:46] davecheney commented on #36
Adding the `-x` flag should wait until #31 or #37 is merged.

[2016-09-25 09:54] #41 closed

[2016-09-25 10:48] #46 closed

[2016-09-25 11:02] davecheney opened #56 "httpstat -O http://example.com/ fails to create file"
[code]
If the URI ends in a `/` we should either refuse to create the file, or substitute something else.

[2016-09-25 11:03] davecheney opened #57 "httpstat -O should handle Content-Disposition: attachment"
See TODO in `main.readResponseBody`

[2016-09-25 11:15] #49 closed

[2016-09-25 11:15] #48 closed

[2016-09-25 11:47] ble opened #58 "-O / `saveOutput` saves a file for every redirect as well as final response"
Tested against a server that redirects, `httpstat -O` wrote one file for each request using that request's URL to determine the output filename.

Possibly don't want to write multiple files if server redirects.
Possibly don't want filename to be controlled by response.

[2016-09-25 11:48] ble commented on #58
I have a not-entirely-pertinent, gratuitously redirecting handler that I used to test this out.

[2016-09-25 11:50] ble commented on #56
Looks like `http://example.com/foo/bar/` writes to `bar` as one might want.
What do you think of
`http://example.com/` -> `example.com`
`http://example.com:8080/` -> `example.com`
?

[2016-09-25 12:02] ble commented on #58
Now I see the `todo`:
https://github.com/davecheney/httpstat/blob/master/main.go#L292

[2016-09-25 12:27] AntouanK opened #60 "Binary release"
Can someone upload a binary for people that do not have/use Go?

[2016-09-25 12:31] davecheney commented on #60
I'll do this as part of the 1.0 release next sunday.

[2016-09-25 12:44] theckman commented on #39
Looks like this may have been closed by #42?

[2016-09-25 12:50] davecheney commented on #39
Well spotted.

[2016-09-25 12:50] #39 closed

[2016-09-25 14:46] ChrisHines commented on #45
Two questions.

1. If `Green("hello")` implemented `fmt.Stringer` (in addition to `fmt.Formatter`), does that qualify as "convertible to a string"?

2. In general, does the solution need to skip color output when writing to a non-tty?

[2016-09-25 16:57] jrozner commented on #56
cURL will fail is there is not remote path (eg. the end ends with a forward slash). I would say it's probably best to keep compatibility with it in terms of functionality for consistency sake

[2016-09-25 17:15] jrozner commented on #57
Happy to take this. Are you content with just regexing out the filename or do you want a full DFA to parse the value?

[2016-09-25 18:37] cove opened #62 "realtime sharing of stat results"
would be interesting to have realtime sharing of stats to have more data points when troubleshooting a site. e.g. how did this test compare with others from your AS over the past day, or compared to other ASs, historical error rates. sort of how speedtest.net allows you to see how your download speeds compare to others. would be nice if there was an existing free service that it could just integra

[2016-09-25 21:50] wub opened #64 "Colours don't work in CMD and PowerShell"
![PowerShell](http://i.imgur.com/pmsfoH6.png)

[2016-09-25 22:06] davecheney commented on #64
Thanks for confirming. I had someone else confirm that httpstat did work on
windows 10, so I'm not sure at the moment where the problem is.

On Mon, 26 Sep 2016, 07:50 Jarrod Mosen <notifications@github.com> wrote:

[2016-09-25 22:09] davecheney commented on #62
Thank you for raising this issue. The original goal for httpstat was to replicate httpstat.py in go, I think we're well on the way to doing this as well as implementing most of the common features of curl.

With that said, I do not plan to implement this,l request, ita simply too far from the original goal of pretty timing stats from a http request.

Thank you for your understanding.

[2016-09-25 22:09] #62 closed

[2016-09-25 22:23] wub commented on #64
Ah yes, sorry, for posterity this is Windows 8.1 Enterprise.

[2016-09-25 22:26] davecheney commented on #45
1. Yes, and in that case there probably isn't a requirement to implement
both.
2. Yes

On Mon, 26 Sep 2016, 00:46 Chris Hines <notifications@github.com> wrote:

[2016-09-26 01:20] #64 closed

[2016-09-26 01:21] mattn opened #67 "Do you have plan to support proxy?"
But some values of fields may not be a real for latency if httpstat support proxy.

[2016-09-26 01:37] davecheney commented on #67
Good question. I think we should handle a proxy, but that may interact with #7 .

[2016-09-26 02:12] inkel commented on #67
According to [this StackOverflow answer](http://stackoverflow.com/questions/14661511/setting-up-proxy-for-http-client) it is possible to use a proxy by setting `HTTP_PROXY`. It can also be set programmatically, though perhaps supporting both environment and flag is the most adequate solution.

[2016-09-26 02:15] davecheney commented on #67
@inkel at the moment with the hand rolled way of making the connection, negotiating the handshake, then writing the request directly I'm pretty confident that the current code doesn't deal with proxies at all.

Using the httptrace mechanism sounds better, but I'm sure there will be a request to break out the proxy latency, it's connection, it's https handshake, etc.

[2016-09-26 02:32] cove commented on #62
oh yeah, no worries. :) just thought it might be an interesting feature to have on the cli.

[2016-09-26 02:33] mattn commented on #67
@inkel it's easy to do.

I've implemented this feature in my product.

https://github.com/mattn/http-gonsole/blob/master/http-gonsole.go#L78

[2016-09-26 02:33] davecheney commented on #62
It sounds like an interesting project, but it's outside the scope of this
project.

On Mon, Sep 26, 2016 at 12:32 PM, cove <notifications@github.com> wrote:

[2016-09-26 02:36] davecheney commented on #57
Regex sounds fine.

On Mon, Sep 26, 2016 at 3:15 AM, Joe Rozner <notifications@github.com>
wrote:

[2016-09-26 08:16] theckman commented on #58
Looks like this should be closed by #59.

(I keep looking for things to help with and they are all closed! 😂)

[2016-09-26 09:34] theckman commented on #57
@jrozner Well, shoot. I just now saw that you called out that you'd take this.

[2016-09-26 10:02] #57 closed

[2016-09-26 10:13] davecheney commented on #36
@abh @ble if you want to add `-x`, now's the time.

[2016-09-26 10:15] #58 closed

[2016-09-26 10:16] davecheney commented on #56
I'm pretty sure this can be closed, we now disallow -O without an obvious file name.

[2016-09-26 10:16] #56 closed

[2016-09-26 14:45] ble commented on #36
`-x` is the same as `--proxy` for cURL; if we want to be cURL-like, I think this falls under issue #67.

`--resolve` is kind of curious.  If I understand the cURL manual correctly, it basically overrides DNS for one or more authorities (host-port pairs for the non-pedantic).

[2016-09-26 14:47] Andrew-liu opened #69 "install failed"
When I use installation command, I failed.

[code]

I install `go` using homebrew

[code]

[2016-09-26 14:58] moorereason commented on #69
Looks like you're on macOS 10.12 Sierra.  You need to upgrade to Go 1.7 or later.

[2016-09-26 14:59] ble commented on #36
nb. looks like making an equivalent to `--resolve` requires the ability to have multiple `--resolve` flags in one command line.

[2016-09-26 15:02] FalcoSuessgott commented on #69
When I try to install httpstat, I receive this error.

**go get -u github.com/davecheney/httpstat**
`cd .; git clone https://github.com/davecheney/httpstat /root/projects/src/src/github.com/davecheney/httpstat
Cloning into '/root/projects/src/src/github.com/davecheney/httpstat'...
fatal: unable to access 'https://github.com/davecheney/httpstat/': Peer's Certificate issuer is not recognized.
packag

[2016-09-26 18:00] freeformz commented on #36
@ble it's possibly to do multiples of the same arg with flag, but it wouldn't be gnu long args compatible though

[2016-09-26 18:23] ble commented on #36
@freeformz that's cool, can you point me at an example?

[2016-09-26 18:29] freeformz commented on #36
@ble See -H handling on master.

[2016-09-26 19:23] generaltso commented on #45
Is this along the lines of what you were thinking?

https://play.golang.org/p/REwtOS6cLs

(escape codes work in terminal but not in playground)

[2016-09-26 20:22] ChrisHines commented on #45
I just remembered once seeing a package that tackled this problem by providing a specialized version of the `fmt` functions. The package is at https://github.com/nhooyr/color, but the README now says it's deprecated as of last month. I post it here in case it stimulates any new ideas.

[2016-09-26 21:09] davecheney commented on #36
SGTM. One less flag and possibly more consistency to handle this via -H Host ...

[2016-09-26 22:28] davecheney commented on #69
What heppens if you run that git clone command manually? That will rule out
the go installation.

Check which version of git you have installed, if homebrew has installed
something overriding the xcode version it may not be able to correctly
resolve ssl certificates

On Tue, 27 Sep 2016, 01:02 FalcoSuessgott <notifications@github.com> wrote:

[2016-09-26 22:29] davecheney commented on #26
Closed #37

[2016-09-26 22:29] #26 closed

[2016-09-26 22:31] zquestz opened #73 "HTTP output not replacing %s"
Notice this in my testing.

[code]

[code]

If you query with https then the output looks right.

[code]

[2016-09-26 22:37] #73 closed

[2016-09-26 22:37] davecheney commented on #73
Fixed, sorry about that.

[2016-09-26 22:39] zquestz commented on #73
Thanks for the speedy fix. =)

[2016-09-26 22:40] moorereason commented on #73
@davecheney, just out of curiosity, how did that compile?  Where was `print()` defined??

[2016-09-26 22:40] davecheney commented on #73
Not a worry, that was my mistake.

On Tue, 27 Sep 2016, 08:39 Josh Ellithorpe <notifications@github.com> wrote:

[2016-09-26 22:45] moorereason commented on #73
*facepalm*

Nevermind.  Forgot that `print` and `println` are part the Go core spec.  I *never* use them when I probably should!

[2016-09-26 22:46] davecheney commented on #73
print is a builtin

On Tue, 27 Sep 2016, 08:40 Cameron Moore <notifications@github.com> wrote:

[2016-09-26 23:00] abh commented on #36
--resolv is different than -H, obviously. It's not just the opposite though, in TLS/SNI scenarios it's hard to do the override with -H 'Host: ...' and likewise in redirect chains.

[2016-09-26 23:03] davecheney commented on #36
Can you show an example using curl and httpstat to show where they differ.
Thanks

On Tue, 27 Sep 2016, 09:00 Ask Bjørn Hansen <notifications@github.com>
wrote:

[2016-09-26 23:52] abh commented on #36
I want to test connecting to a particular IP with SNI www.google.com; with curl this is possible:

    $ curl --resolv www.google.com:443:172.217.24.100 https://www.google.com/

But not with httpstat:

[code]

It works with redirect chains, too:

    $ curl -vL --resolv mail.google.com:443:172.217.24.100 mail.ntppool.org

Or you can do dumb stuff like having one host for the SNI header and somethi

[2016-09-27 00:16] davecheney commented on #36
I've updated the issue to reflect the work remaining.

_note to implementors_: Curl's flag is called `--resolve`, but we'll probably have to come up with a different single character flag name to avoid taking a dependency for something that supports GNU flags.

[2016-09-27 08:03] leeyu opened #74 "error happened where build!"
main.go:357: undefined: http.MethodHead

$ go version
go version go1.3.1 linux/amd64

[2016-09-27 08:24] davecheney commented on #74
Which version of Go are you using. httpstat is tested against the current
stable release, go 1.7.1 and tip.

On Tue, Sep 27, 2016 at 6:03 PM, leeyu <notifications@github.com> wrote:

[2016-09-27 08:26] davecheney commented on #74
Oh, is see you are using 1.3.1. httpstat is only tested against 1.7. I'll close this issue with a PR that mentions the installation requirements.

[2016-09-27 08:27] #74 closed

[2016-09-27 12:18] ble commented on #36
So you'd prefer a single character flag to `-resolve`?

[2016-09-27 12:23] davecheney commented on #36
Yes, let's not get into the -wierd -single -hypen=modes -t -h -e go flag
package uses

On Tue, 27 Sep 2016, 22:18 Ben Ellis <notifications@github.com> wrote:

[2016-09-27 15:32] joseluisq commented on #74
👍

[2016-09-27 16:46] moorereason opened #75 "Revert color work-around"
We should be able to revert https://github.com/davecheney/httpstat/commit/63dfb1cc0496a03f9356167cb46cc5eb55beb1a7.  A fix has been merged upstream.

See: https://github.com/fatih/color/commit/0016e2689083bc05a71fc0bdcd75f4947f6a5182

[2016-09-27 19:36] bendem opened #76 "No support for http2"
[code]

[2016-09-27 19:46] moorereason commented on #76
The httptrace PR works great with HTTP/2.  :wink:

[2016-09-27 20:12] op opened #77 "Schemify for HTTP only works for URIs ending in :80"
Maybe this isn't supposed to work. Just read the source.

In function schemify the `strings.HasSuffix(uri, ":80")` does not work for `host:80/path`.

[2016-09-27 20:16] davecheney commented on #77
It should work.

[2016-09-27 21:27] #77 closed

[2016-09-27 21:52] op opened #80 "Allow writing body to stdout"
I many times work with curl and pipes eg `curl -v url | jq .`. Why not write the current output to stderr and the body to stdout?

[2016-09-27 21:54] moorereason commented on #76
[http.Request.Write](https://godoc.org/net/http#Request.Write) writes an HTTP/1.1 request.

[2016-09-27 21:59] davecheney commented on #80
This is a useful feature, but I I think it over reaches the original goal of this tool which was to duplicate httpstat.py in go. The part of httpstat I liked was the nice presentation of the stats, to the point that body is either discarded or written to a random file.

It is a not my goal to reimplent curl in Go. Thank you for your understanding.

[2016-09-27 21:59] #80 closed

[2016-09-28 00:59] Andrew-liu commented on #69
When I upgrade go into `version 1.7.1` on macOS 10.12 Sierra, I fix this question. Thanks. @moorereason @davecheney

[code]

**but, What a pity.**

[code]

[2016-09-28 01:01] davecheney commented on #69
Is $GOPATH/bin in your $PATH?

On Wed, Sep 28, 2016 at 10:59 AM, Andrew-liu <notifications@github.com>
wrote:

[2016-09-28 01:13] davecheney commented on #75
@moorereason I've updated the fatih/color dep to pick up the fix. Do you want to take the rest of this ticket ?

[2016-09-28 01:55] #75 closed

[2016-09-28 02:01] davecheney opened #83 "httptrace does not break out each leg of a 30x redirect chain."
With #7 merged only the final leg of a 30x redirect chain is reported. This is a regression.
[code]

[2016-09-28 02:01] davecheney commented on #83
The expected output is
[code]

[2016-09-28 02:03] moorereason commented on #76
@davecheney,
I'm curiously confused.  HTTP/2 not working after merging #7.

[2016-09-28 02:09] davecheney commented on #76
Looks like it does :)
[code]

[2016-09-28 02:14] moorereason commented on #76
@davecheney, reopen, please.

Look again:

[code]

[2016-09-28 02:18] #67 closed

[2016-09-28 02:21] davecheney commented on #76
shit.

[2016-09-28 02:31] moorereason commented on #76
I'm hot on this bug's trail.  Give me a few mins...

[2016-09-28 03:53] #76 closed

[2016-09-28 05:57] Andrew-liu commented on #69
I have set env variable for golang in `~/.zshrc`

[code]

[2016-09-28 06:25] llitfkitfk commented on #69
@Andrew-liu export GOBIN="$GOPATH/bin"

[2016-09-28 09:03] theckman opened #88 "wrong variable used when creating error on file creation"
I've found that when we return an error on file creation we are actually using the wrong variable (`outputFile`). We should be using `filename` instead:

* https://github.com/davecheney/httpstat/blob/fb43abf0f2ca7a5fa1d42deae8c3417fcd035970/main.go#L421

[2016-09-28 09:10] davecheney commented on #69
`go install` or `go get` (which calls `go install` on the source it just cloned) will place the binary in `$GOPATH/bin`. To make your life easy, you should place that location in your `$PATH`.

[2016-09-28 09:10] davecheney commented on #69
I'm going to close this issue now as there is no httpstat bug to address. Thank you.

[2016-09-28 09:10] #69 closed

[2016-09-28 09:39] aitva opened #90 "http2 tracing is broken on windows"
I'm testing httpstat on a Windows machine and I get a huge TCP Connection time.

[code]

I have tried changing the `HTTP_PROXY` variable and when using a local `cntlm` proxy it goes back to something reasonable:

[code]

I can provide additional information if needed.

(Thanks for this tool, it is awesome !)

[2016-09-28 09:59] #88 closed

[2016-09-28 10:24] davecheney commented on #5
@bogem If you want to propose a new color scheme please do so before the 1st of October. Thank you.

[2016-09-28 10:30] davecheney commented on #45
I experimented with implementing different coloured strings as types but the result was a net increase in lines and I still had too much generation of a string, adding color tags, passing it around as a string.

I'm unhappy that the presentation (colouring) logic is smeared through the business logic, but I'll suck it up as the alternative is more verbose.

[2016-09-28 10:30] #45 closed

[2016-09-28 10:53] #83 closed

[2016-09-28 10:56] bogem commented on #5
Ok, I will do it today

[2016-09-28 11:59] bogem opened #92 "Can't connect to host if it can't work with HTTPS"
I can't connect to host, if it works only with HTTP, without obvious declaration of protocol:
![2016-09-28 13 55 46](https://cloud.githubusercontent.com/assets/13235519/18912583/715218ce-8583-11e6-92ff-abb35ca8b8c1.png)

[2016-09-28 12:02] davecheney commented on #92
This is a deliberate choice to default to https if no scheme is provided.

What error message would you like to see I this case?

[2016-09-28 12:05] bogem commented on #92
I think, in this case it would be perfect, if httpstat would check the support of HTTPS protocol on site. So if httpstat could't connect to site with HTTPS, it would connect to it with HTTP.

[2016-09-28 12:12] davecheney commented on #92
Sorry, that's beyond the remit of this tool. I think we're already doing more than we should by trying to guess the scheme if one is not provided.

[2016-09-28 12:16] bogem commented on #92
Then error message could be like "Can't connect to host with HTTPS. Please provide a scheme to URL"

[2016-09-28 12:31] davecheney commented on #92
If we're going to do that, then I'd prefer to drop the automatic scheme prefix and just say "not a url, try again".

[2016-09-28 12:53] bogem commented on #92
Yeah, it's a good idea too

[2016-09-28 15:23] moorereason commented on #92
What if we output "**Connecting to ...**" prior to dialing?  Example:

[code]

Normal operation:

[code]

[2016-09-28 17:50] bendem commented on #76
Awesome, thanks

[2016-09-28 19:16] husobee opened #94 "support for client certificate tls authentication"
I use tls client certificates for authentication to several web services I develop/debug.  I am wondering if it would be helpful to add client certificate support to httpstat.  This feature would be easy to implement.  I would suggest we load a client certificate keypair and signing ca certificate from files that would be specified as command line flags into the http client's tls.Config.  I have t

[2016-09-28 20:15] davecheney commented on #92
I'm not down with more output, the next thing people will ask for is a flag
to turn these two lines off.

On Thu, 29 Sep 2016, 01:23 Cameron Moore <notifications@github.com> wrote:

[2016-09-28 22:40] davecheney commented on #94
@husobee thank you for raising this issue.

As I'm preparing to release the stable version of this tool on Sunday I'm cautious about adding extra features, and especially adding extra flags.

Can I ask, why do you want to use this tool rather than curl. We're not aiming to be a replacement for curl, just a replacement for httpstat.py for Go programmers.

[2016-09-28 22:42] davecheney commented on #92
I'm going to close this issue as working as intended. The result is surprising, but intended due to the deliberate decision to prefer https over http when no scheme is provided by the user.

[2016-09-28 22:42] #92 closed

[2016-09-28 23:16] husobee commented on #94
I completely understand wanting to get to stable and not wanting to introduce new features. I like this tool over curl for it's simplicity and clear representation of basic statistics and colorized header information.  My particular use case might be a corner case, but I run into it quite a bit everywhere I use client TLS certificates.  If this request is clearly outside of the scope of this appli

[2016-09-28 23:45] davecheney commented on #94
Do you reckon you could add this with a single flag? This would have to be
the last feature we add for the stable release.

On Thu, 29 Sep 2016, 09:16 husobee <notifications@github.com> wrote:

[2016-09-29 01:11] davecheney commented on #36
@ble/@moorereason  if you want to tackle this please send a PR before 1 October. With that said, I'm thinking that with the merge of #7, this is not a trivial exercise.

[2016-09-29 02:18] davecheney commented on #90
@aitva how reproducible is this?

[2016-09-29 02:30] husobee commented on #94
Yes, I feel like we can have a single flag.  Here is my fork showing the single flag implemented: https://github.com/husobee/httpstat/blob/master/main.go where I added a function to deal with reading and loading of the client certificate.  Would love to hear your thoughts.

[2016-09-29 03:18] moorereason commented on #90
I can reproduce it on Windows 10 but only when making HTTP/2 requests.  `t3` (WroteRequest) and `t4` (GotFirstResponseByte) are coming back with zero time values.  The request appears to be completing, but the `httptrace` hooks don't appear to be firing.

HTTP/1.1 requests (http and https) work fine for me, which is different from what @aitva is reporting.

[2016-09-29 04:42] moorereason commented on #90
We've likely found a bug in Go 1.7.1 windows/amd64.

On an HTTP/2 trace, I only see the following hooks firing (in this order):

[code]

On a working, non-HTTP/2 trace, I get hooks firing in this order:

[code]

I've created a [test branch](https://github.com/moorereason/httpstat/tree/iss90) that prints out when each httptrace hook if anyone wants to test it.

/cc @bradfitz @rakyll

PS - Dave, can

[2016-09-29 05:00] h1k0n commented on #90
I know how th reproduce it. If we directly set proxy server's ip in
export http_proxy=${ip}:${port}
httpstat https://www.google.com
or directly set server's ip like this:
httpstat http://${ip}:${port}
then this issue happen.
The reason is DNSStart and DNSDone is not triggered.

[2016-09-29 05:04] h1k0n commented on #90
I know how to reproduce it. If we directly set proxy server's ip in
export http_proxy=${ip}:${port}
httpstat https://www.google.com
or directly set server's ip like this:
httpstat http://${ip}:${port}
then this issue happen.
The reason is DNSStart and DNSDone is not triggered.

[2016-09-29 05:32] davecheney commented on #94
LGTM, some minor style issues but we can deal with those in the PR.

[2016-09-29 05:34] moorereason opened #97 "Connecting to IP skips DNSDone trace hook"
When connecting to an IP address, the DNSDone trace hooks aren't fired.

[2016-09-29 05:37] moorereason commented on #90
@h1k0n, thanks for the heads up, but that's a separate issue.  See #97

[2016-09-29 06:02] #97 closed

[2016-09-29 11:00] davecheney commented on #60
I've created a 1.0.0-beta.1 release and uploaded some sample binaries. Please test them if you are able, https://github.com/davecheney/httpstat/releases/tag/v1.0.0-beta.1

[2016-09-29 12:57] limenet commented on #60
At first glance there are no issues on Windows 10 Pro x64. Thanks for the binary!

[2016-09-29 13:21] AntouanK commented on #60
`Darwin` version works fine on ~~OSX~~ macOS 10.12

[2016-09-29 14:33] moorereason commented on #90
Works correctly on Windows 7.

[2016-09-29 14:55] moorereason commented on #90
@h1k0n was right about the original report being about skipping DNS, which means I hijacked this ticket.  My apologies.  The original report should be resolved along with #97.

Now, back to Windows...

I tested on a standard Windows 10 machine (version 1511, build 10586.589) this morning, and it works fine.  Last night I was testing on Windows 10 Insider edition, but I don't have that device with

[2016-09-29 14:57] moorereason commented on #60
@limenet, Can you test `httpstat https://www.google.com/`?  Do the timings works properly?  What is your Windows version/build (run `winver`)?

I'm troubleshooting #90.

[2016-09-29 15:04] ble commented on #36
That implementation of `-R` looks pretty good.  Do we want to support multiple `-R`s as curl does?  Seems it would only be relevant with redirects.

[2016-09-29 15:26] moorereason commented on #36
@ble, the verdict is still out on adding the `-R` option.  See the discussion in #96.  If we end up adding it, we could support multiples.

[2016-09-29 15:40] limenet commented on #60
@moorereason Sure can!

I tested `httpstat https://www.google.com/` with the executable I got via `go get` and with the binary (`httpstat-windows-amd64-v1.0.0-beta.1.exe`).

[code]

As you can see by the output above, the timings work properly.

As a side note, I'm using [the Ubuntu subsystem on Windows](https://msdn.microsoft.com/en-us/commandline/wsl/about) **but** all commands were executed in

[2016-09-29 16:17] aitva commented on #90
I am having this issue on Windows 7. I have tried with a different server and I get the same result :

[code]

But, when doing the same request with the hostname the issue goes away :

[code]

I have also tried on a Debian 8 computer and I can't reproduce the problem.

The issue seems to arise on Windows 7 and only without DNS lookup.
I can provide you more information, but I will need guidance. T

[2016-09-29 16:53] moorereason commented on #90
@aitva, The issue you're seeing should have been fixed already.

What version of httpstat are you running (`httpstat -v`)?  If you're building manually, what git commit are you using (`git log --oneline -1`).

[2016-09-29 23:10] moorereason commented on #90
Confirming that I'm seeing this issue on Windows 10 Pro Insider Preview Build 14379.rs1_release.160627-1607.  I'm not sure what this Insider build could be doing to break the network stack, so we may can just close this as, or at least remove it from the Stable release milestone.

This Insider build is about to expire anyway, so I'll need to install the newest build and test after the upgrade.

[2016-09-29 23:18] davecheney commented on #90
@aitva can you please use the 1.0.0-beta.1 release binary that I made last
night. If it fails please include the output of httpstat -v with your
report.

On Fri, 30 Sep 2016, 09:10 Cameron Moore <notifications@github.com> wrote:

[2016-09-30 15:06] aitva commented on #90
I have just tried the binary release, everything is working.
@moorereason @davecheney thank you for the correction!

[2016-09-30 16:17] moorereason commented on #90
@davecheney,
I installed the latest Windows 10 Pro Insider Preview last night, and it bricked my laptop.   :trophy:

Please close this issue.  The stable Windows 10 builds appear to be working just fine.

[2016-09-30 23:24] #90 closed

[2016-09-30 23:25] #94 closed

[2016-09-30 23:26] #36 closed

[2016-10-01 03:33] davecheney commented on #60
https://github.com/davecheney/httpstat/releases/tag/v1.0.0-rc.1 has been released. This will hopefully be the final release candidate with a release tomorrow.

[2016-10-01 23:56] davecheney commented on #60
Closed, https://github.com/davecheney/httpstat/releases/tag/v1.0.0

[2016-10-01 23:56] #60 closed

[2016-10-02 09:10] Luit opened #105 "os.Exit used in flag.Usage"
By coincidence I read through this code, and shortly after that read [Idiomatic Go](https://dmitri.shuralyov.com/idiomatic-go). There was [one practice](https://dmitri.shuralyov.com/idiomatic-go#don-t-os-exit-2-inside-flag-usage) highlighted there that I had just seen in this code.

In flag.Usage os.Exit(2) is called, which flag.Parse already does. It would be nicer to do this within the `if len(a

[2016-10-02 09:24] #105 closed

[2016-10-02 09:48] sbrl opened #107 "Suggestion: Ubuntu PPA"
A PPA for debian / ubuntu would ease installation for linux users, and provide a way for linux users to stay up to date with the latest version easily.

[2016-10-02 09:49] davecheney commented on #107
Thank you for raising this issue but I do not plan to offer this. If someone else wants to package this application for Ubuntu they are welcome to do this but I have no interest in providing more than go gettable source and binary downloads.

[2016-10-02 09:49] #107 closed

[2016-10-03 13:08] Pea13 opened #108 "Force ipv4 / ipv6"
Hi,

It would be nice to have a -4 / -6 switch to force DNS resolution to ipv4 or ipv6.
Like this, we could compare response time between both protocol.
Regards,

[2016-10-04 13:56] mefju opened #111 "-H does not replace Host header"
Request send to remote host from following  command:
`httpstat -H 'Host: example.com' http:/example2.com`

Contains:
`Host: example2.com`
header but not:
`Host: example.com`

[2016-10-04 14:22] moorereason commented on #111
I can't reproduce this.

In the example below, the request header should be `Host: www.requestb.in`:
[code]

Captured request is correct:
[code]

[2016-10-04 14:30] gatekeeperhenlee commented on #111
Wow .. Please can i u give me ah proxy server for tnt or payload sir?

[2016-10-04 20:19] #111 closed

[2016-10-06 12:22] AlexanderThaller opened #112 "Make multiple requests to measure ssl resume gains"
It would be nice if the client allowed multiple requests with the same ssl session id so it would be possible to measure the impact of ssl tickets / ssl resume.

[2016-10-06 12:46] vanbroup opened #113 "SSL/TLS Handshake Latency"
It would be really good to have the SSL/TLS handshake latency.

[2016-10-23 07:40] davecheney commented on #108
Thank you for raising this issue. If you want to send a PR to add this please do so.

[2016-10-23 07:40] davecheney commented on #113
@vanbroup what is missing at the moment? Please be specific.

[2016-10-23 07:41] davecheney commented on #112
Sorry, I don't plan to add this.

[2016-10-23 07:41] #112 closed

[2016-10-23 09:39] vanbroup commented on #113
The SSL/TLS Handshake Latency is measured from the **ClientHello** message that comes after the TCP ACK until the **Finished** message which is sent immediately after a change cipher spec message to verify that the key exchange and authentication processes were successful.

[RFC5246 Section 7.4.9 Finished](https://tools.ietf.org/html/rfc5246#section-7.4.9) states:

This allows a client to measure

[2016-10-25 05:04] juanpaulo commented on #113
@vanbroup how is it different from the current one (TLS Handshake)?

![screen shot 2016-10-25 at 2 01 45 pm](https://cloud.githubusercontent.com/assets/2783678/19673550/d0071124-9abb-11e6-9fc2-556b557d193b.png)

[2016-10-25 07:03] vanbroup commented on #113
@juanpaulo thanks, I just tested and it's indeed already there!

I was mainly interested in the handshake part and the screenshot in the readme doesn't include the change from pull request #25, also http/httptrace doesn't expose any TLS information (until go 1.8) so I did not even try to run it honestly speaking.

Maybe it's smart to update the screenshot in README.md to relect the implementation

[2016-10-25 18:26] davecheney commented on #113
Since we moved to the httptrace framework we can only do things that it knows how to do.

There is a PR pending the release of go 1.8 that may help.

[2016-10-25 18:26] davecheney commented on #113
readme doesn't include the change from pull request #25
<https://github.com/davecheney/httpstat/pull/25>,

I'm pretty sure it does, that screenshot was taken with 1.0 version of
httpstat.

If this is incorrect, it is a bug and should be fixed.

On Tue, Oct 25, 2016 at 6:03 PM, Paul van Brouwershaven <
notifications@github.com> wrote:

[2016-10-25 22:19] moorereason commented on #113
@davecheney, I think his point was that the screenshot should be of a TLS request.

[2016-10-25 22:23] davecheney commented on #113
Oh, that's my mistake. When I made the announcement I used the github page for this project.

If someone wants to update the screenshot with something more exciting, please send a PR.

[2016-10-26 03:15] juanpaulo commented on #113
@davecheney I hope #115 is exciting enough. Had to use a different one since dave.cheney.net doesn't seem to have an SSL endpoint.

[2016-10-26 15:39] davecheney commented on #113
That'll do, I was just using my own site as a demo, anything that offers
https will do.

On Wed, Oct 26, 2016 at 2:15 PM, Juan Paulo Gutierrez <
notifications@github.com> wrote:

[2017-02-01 02:25] ch3lo commented on #113
nice, so I think this issue should be marked as resolved right?

[2017-02-01 02:32] moorereason commented on #113
No, we're waiting on Go 1.8 release to get [this enhancement](https://beta.golang.org/doc/go1.8#net_http_httptrace).

[2017-03-01 15:47] janisz opened #118 "http2 GOAWAY support"
When I try to use httpstat on service with HTTP/2 I got following error:
[code]

[2017-03-01 15:53] janisz commented on #113
Ping. Go was released.

[2017-05-10 10:56] wayneashleyberry opened #120 "Package exists but is not a directory"
I'm getting the following error trying to install this package

[code]

Tried cleaning my $GOPATH and didn't make a difference.

[code]

#### System Details

[code]

[2017-05-11 00:05] davecheney commented on #120
Try deleting $GOPATH/src/github.com/davecheney/httpstat and trying again.

On Wed, May 10, 2017 at 8:56 PM, Wayne Ashley Berry <
notifications@github.com> wrote:

[2017-05-30 21:50] davecb commented on #120
It looks odd, but builds fine.

[2017-06-18 11:54] simplycycling commented on #120
Same issue when I try to do a go get, and deleting $GOPATH/src/github.com/davecheney/httpstat and repeating did not make a difference. I had to do a go build from $GOPATH/src/github.com/davecheney/httpstat.

[2017-06-30 15:14] cthulhu commented on #120
Same here, with pretty much same system details.

    go get -u github.com/davecheney/httpstat

fetches the code but build fails weirdly:

    package github.com/davecheney/httpstat/vendor/github.com/fatih/color: ~/go/src/github.com/davecheney/httpstat/vendor/github.com/fatih/color/.git exists but is not a directory
    package github.com/davecheney/httpstat/vendor/golang.org/x/net/http2: ~/go/src

[2017-07-02 07:32] #120 closed

[2017-07-02 08:51] wayneashleyberry commented on #120
I'm still getting this error :/

[code]

[2017-07-02 10:30] davecheney commented on #120
This looks like a bug with the -u flag. I'll see about raising a bug upstream.

[2017-07-04 14:22] pedromg commented on #120
Just tried here, also confirm the apparent _-u_ flag issue:
- with _-u_ flag it fails with the errors mentioned above (_.../.git exists but is not a directory_);
- without _-u_ flag it works, no errors and builds ok.

notes:
- deleted _$GOPATH/src/github.com/davecheney/httpstat_ between steps
- go version go1.8.3 darwin/amd64

[2017-09-20 09:12] aitva opened #121 "go get is failing"
I am trying to build httpstat with `go get -v -u github.com/davecheney/httpstat` and it is failing. I am using `go version go1.9 linux/amd64`:

[code]

On the upside, if I run `go install github.com/davecheney/httpstat` the build works properly! The vendored folders are cloned and `go get` is right about `.git` being a file:

[code]

[2017-09-20 16:23] davecheney commented on #121
I think this is a bug introduced in Go 1.8 or 1.9. I have not had time to
trace it down.

If someone wants to convert this project to use dep, and check in vendor/
that will resolve the problem once and for all.

On Wed, Sep 20, 2017 at 7:12 PM, Louis Arod <notifications@github.com>
wrote:

[2017-09-27 09:56] #121 closed

[2017-11-27 10:04] Bepartofyou opened #124 "will this support IOS and Android？"

[2017-11-27 10:40] davecheney commented on #124
I think the shortest answer is no, this is a command line application only.

[2017-11-27 11:15] Bepartofyou commented on #124
thanks for replying so quick，closed

[2017-11-27 11:15] #124 closed

[2018-07-20 08:18] danieltrautmann opened #135 "CSV output"
I've made some quick changes to print the results in CSV format.
I need this to investigate an issue with increasing response time and I want to know which step causes this issue.

With these changes it is possible to run httpstat in a loop and write the output to a CSV file which can than be used for analyzing.

**Example**

[code]

This will print lines that look like this:

[code]

The columns

[2018-07-27 08:55] danieltrautmann commented on #135
I've seen now, that this project is closed and no new feature requests will be accepted. So I'll close this issue.

[2018-07-27 08:55] #135 closed

[2018-07-30 07:08] makkes opened #136 "Analyzing HTTP timeouts"
I would like to use httpstat to analyze sporadic HTTP timeouts I'm experiencing in my application when calling a backend HTTP API. The problem is that when httpstat experiences timeouts the output looks like this:
[code]
What I would like to see as output is the trace including DNS Lookup, TCP Connection, etc. up to the point where the timeout occured. Is that something that could be implemented i

[2018-07-31 07:44] lovelly opened #137 "Is there a speed_download size_download for curl?"
size_download (The total amount of bytes that were downloaded.)

size_upload (The total amount of bytes that were uploaded.)

speed_download (The average download speed that curl measured for the complete download. Bytes per second.)

[2018-07-31 07:51] davecheney commented on #137
Hello,

This project is not `curl`. Just checking you understood that.

I think it might be ok to add bytes/sec somewhere discrete on the final output. I don't want to add anything to do with uploading; it's too messy.

[2018-09-17 20:41] moorereason commented on #108
This request was fixed in #126.

[2018-09-18 07:16] davecheney commented on #108
Fixed #126

[2018-09-18 07:16] #108 closed

[2018-10-03 19:16] hisathya opened #140 "Client for azure eventhub (Enhancement/help)"
I am looking for client snippet to send the results to Azure eventhub with Rest

[2018-10-03 21:46] davecheney commented on #140
Sorry, this isn’t that.

[2018-10-03 21:46] #140 closed

[2018-10-24 16:32] davidnarayan opened #144 "Multiple certificates are not supported when specifying a client certificate with -E"
In some cases, clients need to include a complete certificate chain for a mutual auth transaction. The current implementation of -E and `readClientCert` does not support multiple certificates.

[2018-10-24 16:34] davidnarayan opened #145 "Allow the user to specify the maximum time of the operation"
This option would add support for the max-time option (-m) in curl. This option indicates the maximum amount of time allowed for the entire operation.

[2018-10-24 17:34] davidnarayan opened #146 "Allow the user to specify additional CA certificates for SSL peer validation"
It would be helpful to allow additional CA certificates to be used for SSL peer validation. Currently the only options are validation against known root CAs or skipping verification using the -k option.

[2019-08-20 05:53] cristaloleg commented on #113
Can be closed?

[2019-08-27 08:52] davecheney commented on #145
This project is not accepting feature requests. https://github.com/davecheney/httpstat#contributing

[2019-08-27 08:52] #145 closed

[2019-09-19 09:54] makkes commented on #136
Closing this since it's not been looked at for over a year.

[2019-09-19 09:54] #136 closed

[2020-01-30 08:07] bohrshaw opened #148 "DNS through socks5 proxy"
Thanks for this beautiful tool. This is a feature request to support "DNS through proxy".

`curl` supports this via `socks5h` like in `socks5h://127.0.0.1:1080`.

[2020-01-30 14:41] moorereason commented on #148
From the bottom of the README:

Look in https://github.com/davecheney/httpstat/network for an active fork.

[2020-07-29 09:54] Nowaker opened #149 "Flag: don't discard body, add syntax highlighting"
[code]

Let's make it possible to not discard the body with a flag, e.g. `httpstat -b`. It'd be way nicer than `httpstat -o /dev/stdout`.

Additionally, if `Content-Type` is something meaningful like `application/json`, syntax highlight it.

[2020-11-17 18:39] jakdept opened #151 "Flag/option to force DNS resolution"
It'd be nice to be able to shoot httpstat at a specific IP address, instead of the DNS resolution target (thus overriding DNS resolution).

Is this something that already exists and I'm just missing it?

[2020-11-17 20:44] moorereason commented on #151
You should be able to do `httpstat -H "Host: blah.com" https://1.2.3.4/`

[2020-11-18 01:50] davecheney commented on #151
@jakdept do you want to try that. The alternative may be adding something like curl’s —resolve flag

[2020-11-18 03:12] jakdept commented on #151
I did not think of manually setting a `Host:` header at command line, but that does work when I tried it.

Further, digging through `net/http` and `crypto/tls` they look to check for a `Host:` header if other methods for setting the server name are not there before connecting, so that seems like it should work in all cases.

[2020-11-19 13:34] moorereason commented on #151
See our previous discussion in #36

[2021-06-02 03:47] #151 closed

[2021-07-19 17:59] Pieixoto opened #156 "why did you say that reorx/httpstat is a shameless ripoff?"
i don't know quite understand

[2021-07-19 18:59] davecheney commented on #156
This repo is the imitation

[2021-07-20 05:57] bnoctis commented on #156
@davecheney May I ask that you rephrase that sentence a little? Some guys seem unable to distinguish which the "this" refers to.

[2021-08-09 15:07] nannanlovelijuan opened #158 "Multiple Parameters Support ？"
i want I want to ask a question ，why not support Multiple Parameters

[code]

[2021-08-09 21:40] davecheney commented on #158
No reason that I can recall

[2021-08-10 10:09] nannanlovelijuan commented on #158
Thank you for your answer，If you remember, please let me know

[2021-08-10 10:16] davecheney commented on #158
Thinking about it, I don’t see why we couldn’t fetch multiple urls, some settings might not make sense but I figure thats ok

[2021-08-10 12:20] nannanlovelijuan commented on #158
Thank you,Maybe what I want to ask is this support:
[code]

[2021-08-10 22:53] davecheney commented on #158
Oh, i see, you're asking do we support gnu style args; the answer is no, all the parameters with a `-` hyphen have to come before parameters that do not. This is a property of the Go flag package. Sorry

[2021-08-12 14:09] nannanlovelijuan commented on #158
Ok，I'm a beginner，Thanks again

[2021-08-12 14:09] #158 closed

[2021-08-30 12:37] pieterhouwen opened #161 "httpstat returns 403, doesn't hide timings"
I built the project by downloading the git and running "go build" instead of the supplied command because I got an error

[code]

When I use the following command: ./httpstat -I -L https://pieterhouwen.info
I get the following output:

![image](https://user-images.githubusercontent.com/10866686/131339879-1b0dc4bd-fd3f-4edb-bbdb-c8582234c00c.png)

When I use curl on the same website it works fine.

[2021-08-30 21:26] davecheney commented on #161
There may be a bug with flag handling, I’ll take a look.

Semi serious question, this tool gives you http timing information. If you want to hide the timing data, why use this tool?

[2021-08-30 21:31] moorereason commented on #161
It's your site restricting unknown user agents.  Try: `httpstat -H "User-Agent: curl/7.72.0" https://pieterhouwen.info`

[2021-08-30 22:17] pieterhouwen commented on #161
@davecheney I'm using httpstat because I thought this was just curl but with colors.
@moorereason Thanks for the tip, seems to be the case. Closing this issue.

[2021-08-30 22:29] davecheney commented on #161
ok, let me figure out what's wrong with the `-I` flag.

[2021-10-10 06:36] zuzuviewer opened #162 "function readClientCert use gloabl variable to read cert file"
function readClientCert use gloabl variable to read cert file，expect use local variable 'filename'  to read

[2021-10-10 06:53] #162 closed

[2022-04-10 15:19] 89z opened #165 "Multiple connections"
Is this possible? Similar to `aria2c -x2`

[2022-04-10 20:28] moorereason commented on #165
No.

[2022-04-10 20:50] 89z commented on #165
I found an alternate tool that seems to work:

https://github.com/Code-Hex/pget

[2022-04-10 21:28] davecheney commented on #165
@89z httpstat isn’t a download tool.

[2022-04-29 19:41] frezbo opened #166 "Assets missing for 1.1.0 release"
Assets are missing for the 1.1.0 release, only source code is available

[2022-04-29 21:10] davecheney commented on #166
To be honest, I don’t remember why the previous releases _have_ assets. I don’t remember building binaries and iff I did, I don’t recall the process so the short answers, I’m not going to add binary releases. Sorry about that.

[2022-04-29 21:10] #166 closed

[2022-04-30 05:19] frezbo commented on #166
Thanks, no worries.